.quiz__content {
    margin: 0 auto;
    padding: 60px 15px;
    max-width: 1230px;
}

.question {
    margin: 0 auto;
    padding: 10px 20px;
    width: 550px;
    border-radius: 3px;
    background: #000;
    text-align: center;
}

.question__text {
    color: #fff;
    text-align: left;
}

.quiz-form {
    margin: 0 auto;
    width: 550px;
    text-align: center;
}

.quiz-form__group {
    margin-bottom: 20px;
}